In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("2020Project.xlsx")
df.head(10)

   ST_CASE
0    10001
1    10002
2    10003
3    10004
4    10005
5    10006
6    10007
7    10008
8    10009
9    10010

In [3]:
ref_acc = pd.read_csv("accident.csv", encoding='latin1')
ref_acc.head(10)

,STATE,COUNTY,MONTH,DAY,YEAR,HOUR,MINUTE,VE_FORMS,PERSONS,NHS,...,CF3,FATALS,DAY_WEEK,DRUNK_DR,ST_CASE,MILEPT,CITY,TWAY_ID,RAIL,PEDS
0,1,15,1,1,94,6,10,3,3,9,...,0,1,7,1,10001,10,0,202,0000000,0
1,1,27,1,1,94,3,45,1,1,9,...,0,1,7,0,10002,1673,0,9,0000000,0
2,1,21,1,3,94,17,2,2,2,9,...,0,1,2,0,10003,0,0,1056,0000000,0
3,1,85,1,7,94,5,36,1,2,9,...,0,1,6,0,10004,1105,0,263,0000000,0
4,1,115,1,1,94,2,50,1,2,9,...,0,1,7,1,10005,0,2010,1105,0000000,0
5,1,113,1,7,94,16,20,2,4,9,...,0,1,6,0,10006,168,0,165,0000000,0
6,1,55,1,9,94,2,30,2,3,9,...,0,1,1,1,10007,99999,1280,SR1,0000000,0
7,1,97,1,6,94,8,45,2,3,9,...,0,1,5,0,10008,0,0,1352,0000000,0
8,1,121,1,3,94,22,30,1,1,9,...,0,1,2,0,10009,552,0,77,0000000,0
9,1,121,1,3,94,14,5,2,2,9,...,0,1,2,0,10010,0,0,1326,0000000,0

In [4]:
cols_add = ['COUNTY', 'STATE', 'CITY', 'DAY', 'MONTH', 'YEAR', 'HOUR', 'MINUTE', 'HARM_EV', 'FATALS', 'ROUTE']
df = pd.merge(df, ref_acc[cols_add], left_index=True, right_index=True, how='left')
df

,ST_CASE,COUNTY,STATE,CITY,DAY,MONTH,YEAR,HOUR,MINUTE,HARM_EV,FATALS,ROUTE
0,10001,15,1,0,1,1,94,6,10,12,1,3
1,10002,27,1,0,1,1,94,3,45,42,1,3
2,10003,21,1,0,3,1,94,17,2,12,1,4
3,10004,85,1,0,7,1,94,5,36,42,1,3
4,10005,115,1,2010,1,1,94,2,50,34,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,37,56,0,26,12,94,9,15,1,1,1
36250,560131,21,56,100,30,10,94,4,0,1,1,6
36251,560132,25,56,90,22,2,94,4,0,39,1,6
36252,560134,23,56,0,11,1,94,17,50,12,1,2
36253,560135,21,56,0,14,7,94,16,15,12,1,2

In [5]:
ref_per = pd.read_csv('person.csv')
ref_per

,STATE,COUNTY,MONTH,DAY,HOUR,MINUTE,VE_FORMS,ROAD_FNC,HARM_EV,MAN_COLL,...,EJ_PATH,ALC_RES,DRUGS,DRUG_DET,DRUGTST1,DRUGRES1,DRUGTST2,DRUGRES2,DRUGTST3,DRUGRES3
0,1,15,1,1,6,10,3,4,12,2,...,0,96,0,8,0,0,0,0,0,0
1,1,15,1,1,6,10,3,4,12,2,...,0,10,9,8,1,1,0,0,0,0
2,1,15,1,1,6,10,3,4,12,2,...,0,96,0,8,0,0,0,0,0,0
3,1,27,1,1,3,45,1,3,42,0,...,0,0,0,8,1,1,0,0,0,0
4,1,21,1,3,17,2,2,4,12,4,...,0,96,0,8,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98940,56,21,7,14,16,15,2,2,12,2,...,0,0,8,8,1,1,0,0,0,0
98941,56,21,7,14,16,15,2,2,12,2,...,0,96,8,8,0,0,0,0,0,0
98942,56,21,7,14,16,15,2,2,12,2,...,0,96,8,8,0,0,0,0,0,0
98943,56,21,7,14,16,15,2,2,12,2,...,0,96,8,8,0,0,0,0,0,0
98944,56,21,7,14,16,15,2,2,12,2,...,0,96,8,8,0,0,0,0,0,0

In [6]:
ref_per = ref_per.drop_duplicates(subset=['ST_CASE']).reset_index(drop=True)
ref_per

,STATE,COUNTY,MONTH,DAY,HOUR,MINUTE,VE_FORMS,ROAD_FNC,HARM_EV,MAN_COLL,...,EJ_PATH,ALC_RES,DRUGS,DRUG_DET,DRUGTST1,DRUGRES1,DRUGTST2,DRUGRES2,DRUGTST3,DRUGRES3
0,1,15,1,1,6,10,3,4,12,2,...,0,96,0,8,0,0,0,0,0,0
1,1,27,1,1,3,45,1,3,42,0,...,0,0,0,8,1,1,0,0,0,0
2,1,21,1,3,17,2,2,4,12,4,...,0,96,0,8,0,0,0,0,0,0
3,1,85,1,7,5,36,1,3,42,0,...,9,96,9,8,0,0,0,0,0,0
4,1,115,1,1,2,50,1,4,34,0,...,0,20,8,8,2,603,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,56,37,12,26,9,15,1,1,1,0,...,0,0,8,8,1,997,0,0,0,0
36250,56,21,10,30,4,0,1,15,1,0,...,9,27,8,8,1,1,0,0,0,0
36251,56,25,2,22,4,0,1,16,39,0,...,0,30,8,8,1,997,0,0,0,0
36252,56,23,1,11,17,50,2,2,12,2,...,0,0,8,8,1,997,0,0,0,0
36253,56,21,7,14,16,15,2,2,12,2,...,0,0,8,8,1,1,0,0,0,0

In [7]:
cols_add = ['AGE', 'SEX', 'PER_TYP', 'ST_CASE']
df = pd.merge(df, ref_per[cols_add], on='ST_CASE', how='left')
df

,ST_CASE,COUNTY,STATE,CITY,DAY,MONTH,YEAR,HOUR,MINUTE,HARM_EV,FATALS,ROUTE,AGE,SEX,PER_TYP
0,10001,15,1,0,1,1,94,6,10,12,1,3,54,1,1
1,10002,27,1,0,1,1,94,3,45,42,1,3,50,2,1
2,10003,21,1,0,3,1,94,17,2,12,1,4,50,1,1
3,10004,85,1,0,7,1,94,5,36,42,1,3,27,1,1
4,10005,115,1,2010,1,1,94,2,50,34,1,6,30,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,37,56,0,26,12,94,9,15,1,1,1,17,2,1
36250,560131,21,56,100,30,10,94,4,0,1,1,6,32,1,1
36251,560132,25,56,90,22,2,94,4,0,39,1,6,60,1,1
36252,560134,23,56,0,11,1,94,17,50,12,1,2,41,2,1
36253,560135,21,56,0,14,7,94,16,15,12,1,2,43,1,1

In [8]:
ref_veh = pd.read_csv('vehicle.csv', encoding='latin1')
ref_veh

,STATE,MONTH,VE_FORMS,HARM_EV,MAN_COLL,HIT_RUN,UNDERIDE,VEH_NO,MAKE,MODEL,...,SER_TR,VINA_MOD,VIN_BT,OWNER,V_CONFIG,AXLES,CARGO_BT,AVOID,CDL_STAT,L_ENDORS
0,1,1,3,12,2,0,0,1,20,8,...,***,NOV,4D,1,0,0,0,8,0.0,0.0
1,1,1,3,12,2,0,0,2,22,18,...,***,GAM,CP,1,0,0,0,8,0.0,0.0
2,1,1,3,12,2,0,0,3,7,472,...,DAK,DAK,PK,1,0,0,0,8,0.0,0.0
3,1,1,1,42,0,0,0,1,7,17,...,***,SAS,4H,1,0,0,0,8,0.0,0.0
4,1,1,2,12,4,0,0,1,20,481,...,GM4,GC1,PK,3,0,0,0,8,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54906,56,2,1,39,0,0,0,1,12,481,...,COF,F15,PK,1,0,0,0,0,0.0,0.0
54907,56,1,2,12,2,0,0,1,48,31,...,***,G4D,SW,1,0,0,0,0,0.0,0.0
54908,56,1,2,12,2,0,0,2,20,2,...,***,CCL,4D,1,0,0,0,0,0.0,0.0
54909,56,7,2,12,2,0,0,1,12,481,...,COF,F25,PS,3,0,0,0,4,0.0,0.0
54910,56,7,2,12,2,0,0,2,37,32,...,***,ULX,4D,1,0,0,0,0,0.0,0.0

In [9]:
ref_veh = ref_veh.drop_duplicates(subset=['ST_CASE']).reset_index(drop=True)
ref_veh

,STATE,MONTH,VE_FORMS,HARM_EV,MAN_COLL,HIT_RUN,UNDERIDE,VEH_NO,MAKE,MODEL,...,SER_TR,VINA_MOD,VIN_BT,OWNER,V_CONFIG,AXLES,CARGO_BT,AVOID,CDL_STAT,L_ENDORS
0,1,1,3,12,2,0,0,1,20,8,...,***,NOV,4D,1,0,0,0,8,0.0,0.0
1,1,1,1,42,0,0,0,1,7,17,...,***,SAS,4H,1,0,0,0,8,0.0,0.0
2,1,1,2,12,4,0,0,1,20,481,...,GM4,GC1,PK,3,0,0,0,8,6.0,0.0
3,1,1,1,42,0,0,0,1,21,1,...,***,CAL,CP,2,0,0,0,0,0.0,0.0
4,1,1,1,34,0,0,0,1,35,471,...,720,USS,PK,2,0,0,0,8,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,56,12,1,1,0,0,0,1,38,402,...,***,ROD,UT,2,0,0,0,4,0.0,0.0
36250,56,10,1,1,0,0,0,1,12,3,...,***,MLX,CV,1,0,0,0,0,0.0,0.0
36251,56,2,1,39,0,0,0,1,12,481,...,COF,F15,PK,1,0,0,0,0,0.0,0.0
36252,56,1,2,12,2,0,0,1,48,31,...,***,G4D,SW,1,0,0,0,0,0.0,0.0
36253,56,7,2,12,2,0,0,1,12,481,...,COF,F25,PS,3,0,0,0,4,0.0,0.0

In [10]:

cols_add = ['MAKE', 'BODY_TYP', 'MOD_YEAR', 'VIN', 'DEATHS', "IMPACT1", 'DEFORMED', 'L_STATUS','ST_CASE']
df = pd.merge(df, ref_veh[cols_add], on='ST_CASE', how='left')

df

,ST_CASE,COUNTY,STATE,CITY,DAY,MONTH,YEAR,HOUR,MINUTE,HARM_EV,...,SEX,PER_TYP,MAKE,BODY_TYP,MOD_YEAR,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS
0,10001,15,1,0,1,1,94,6,10,12,...,1,1,20,4,79,1X69D9T11581,0,12,6,6.0
1,10002,27,1,0,1,1,94,3,45,42,...,2,1,7,4,91,1B3XP28D1MN5,1,12,6,6.0
2,10003,21,1,0,3,1,94,17,2,12,...,1,1,20,31,91,1GCDC14K8MZ1,0,3,4,6.0
3,10004,85,1,0,7,1,94,5,36,42,...,1,1,21,2,86,1G3NF27LXGM4,1,4,6,6.0
4,10005,115,1,2010,1,1,94,2,50,34,...,1,1,35,30,84,1N6ND01S3EC3,1,12,6,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,37,56,0,26,12,94,9,15,1,...,2,1,38,14,92,4S2CY58Z9N43,1,0,6,6.0
36250,560131,21,56,100,30,10,94,4,0,1,...,1,1,12,1,90,1FACP44E4LF1,1,1,6,6.0
36251,560132,25,56,90,22,2,94,4,0,39,...,1,1,12,31,79,F14SRDG8155,1,12,6,3.0
36252,560134,23,56,0,11,1,94,17,50,12,...,2,1,48,6,85,JF2AN53B9FE4,1,3,6,6.0
36253,560135,21,56,0,14,7,94,16,15,12,...,1,1,12,31,92,1FTHX25M6NKA,0,12,6,6.0

In [11]:
df = pd.merge(df, ref_acc[['LGT_COND', 'WEATHER']], left_index=True, right_index=True, how='left')
df

,ST_CASE,COUNTY,STATE,CITY,DAY,MONTH,YEAR,HOUR,MINUTE,HARM_EV,...,MAKE,BODY_TYP,MOD_YEAR,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER
0,10001,15,1,0,1,1,94,6,10,12,...,20,4,79,1X69D9T11581,0,12,6,6.0,4,1
1,10002,27,1,0,1,1,94,3,45,42,...,7,4,91,1B3XP28D1MN5,1,12,6,6.0,2,1
2,10003,21,1,0,3,1,94,17,2,12,...,20,31,91,1GCDC14K8MZ1,0,3,4,6.0,2,2
3,10004,85,1,0,7,1,94,5,36,42,...,21,2,86,1G3NF27LXGM4,1,4,6,6.0,2,1
4,10005,115,1,2010,1,1,94,2,50,34,...,35,30,84,1N6ND01S3EC3,1,12,6,6.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,37,56,0,26,12,94,9,15,1,...,38,14,92,4S2CY58Z9N43,1,0,6,6.0,1,5
36250,560131,21,56,100,30,10,94,4,0,1,...,12,1,90,1FACP44E4LF1,1,1,6,6.0,2,1
36251,560132,25,56,90,22,2,94,4,0,39,...,12,31,79,F14SRDG8155,1,12,6,3.0,3,1
36252,560134,23,56,0,11,1,94,17,50,12,...,48,6,85,JF2AN53B9FE4,1,3,6,6.0,2,1
36253,560135,21,56,0,14,7,94,16,15,12,...,12,31,92,1FTHX25M6NKA,0,12,6,6.0,1,1

In [12]:
import re

def remove_non_printable(text):
    return text.replace(r'[^\x20-\x7E]', '', regex=True)

df = df.apply(remove_non_printable)

In [13]:
df.to_excel('temp.xlsx', index=False)

In [14]:
df['COUNTY'] = df['STATE'].astype(str) + df['COUNTY'].astype(str)
df

,ST_CASE,COUNTY,STATE,CITY,DAY,MONTH,YEAR,HOUR,MINUTE,HARM_EV,...,MAKE,BODY_TYP,MOD_YEAR,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER
0,10001,115,1,0,1,1,94,6,10,12,...,20,4,79,1X69D9T11581,0,12,6,6.0,4,1
1,10002,127,1,0,1,1,94,3,45,42,...,7,4,91,1B3XP28D1MN5,1,12,6,6.0,2,1
2,10003,121,1,0,3,1,94,17,2,12,...,20,31,91,1GCDC14K8MZ1,0,3,4,6.0,2,2
3,10004,185,1,0,7,1,94,5,36,42,...,21,2,86,1G3NF27LXGM4,1,4,6,6.0,2,1
4,10005,1115,1,2010,1,1,94,2,50,34,...,35,30,84,1N6ND01S3EC3,1,12,6,6.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,5637,56,0,26,12,94,9,15,1,...,38,14,92,4S2CY58Z9N43,1,0,6,6.0,1,5
36250,560131,5621,56,100,30,10,94,4,0,1,...,12,1,90,1FACP44E4LF1,1,1,6,6.0,2,1
36251,560132,5625,56,90,22,2,94,4,0,39,...,12,31,79,F14SRDG8155,1,12,6,3.0,3,1
36252,560134,5623,56,0,11,1,94,17,50,12,...,48,6,85,JF2AN53B9FE4,1,3,6,6.0,2,1
36253,560135,5621,56,0,14,7,94,16,15,12,...,12,31,92,1FTHX25M6NKA,0,12,6,6.0,1,1

In [15]:
df['CITY'] = df['COUNTY'].astype(str) + df['CITY'].astype(str)
df

,ST_CASE,COUNTY,STATE,CITY,DAY,MONTH,YEAR,HOUR,MINUTE,HARM_EV,...,MAKE,BODY_TYP,MOD_YEAR,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER
0,10001,115,1,1150,1,1,94,6,10,12,...,20,4,79,1X69D9T11581,0,12,6,6.0,4,1
1,10002,127,1,1270,1,1,94,3,45,42,...,7,4,91,1B3XP28D1MN5,1,12,6,6.0,2,1
2,10003,121,1,1210,3,1,94,17,2,12,...,20,31,91,1GCDC14K8MZ1,0,3,4,6.0,2,2
3,10004,185,1,1850,7,1,94,5,36,42,...,21,2,86,1G3NF27LXGM4,1,4,6,6.0,2,1
4,10005,1115,1,11152010,1,1,94,2,50,34,...,35,30,84,1N6ND01S3EC3,1,12,6,6.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,5637,56,56370,26,12,94,9,15,1,...,38,14,92,4S2CY58Z9N43,1,0,6,6.0,1,5
36250,560131,5621,56,5621100,30,10,94,4,0,1,...,12,1,90,1FACP44E4LF1,1,1,6,6.0,2,1
36251,560132,5625,56,562590,22,2,94,4,0,39,...,12,31,79,F14SRDG8155,1,12,6,3.0,3,1
36252,560134,5623,56,56230,11,1,94,17,50,12,...,48,6,85,JF2AN53B9FE4,1,3,6,6.0,2,1
36253,560135,5621,56,56210,14,7,94,16,15,12,...,12,31,92,1FTHX25M6NKA,0,12,6,6.0,1,1

In [16]:
ref = pd.read_excel("GLCcode.xlsx")
ref

,Territory,State Name,State Code,City Code,City Name,County Code,County Name,Country Code,Old City Name,Date Record Added
0,U,ALABAMA,1,10,ABBEVILLE,67,HENRY,840.0,NaN,NaT
1,U,ALABAMA,1,50,ALBERTVILLE,95,MARSHALL,840.0,NaN,NaT
2,U,ALABAMA,1,60,ALEXANDER CITY,123,TALLAPOOSA,840.0,NaN,NaT
3,U,ALABAMA,1,70,ALICEVILLE,107,PICKENS,840.0,NaN,NaT
4,U,ALABAMA,1,90,ANDALUSIA,39,COVINGTON,840.0,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...
39762,U,WYOMING,56,890,WORLAND,43,WASHAKIE,840.0,NaN,NaT
39763,U,WYOMING,56,891,WRIGHT,5,CAMPBELL,840.0,NaN,NaT
39764,U,WYOMING,56,892,WYARNO,33,SHERIDAN,840.0,NaN,NaT
39765,U,WYOMING,56,895,YELLOWSTONE PARK,29,PARK,840.0,NaN,NaT
39766,U,WYOMING,56,900,YODER,15,GOSHEN,840.0,NaN,NaT

In [17]:
ref['County Code'] = ref['State Code'].astype(str) + ref['County Code'].astype(str)
ref

,Territory,State Name,State Code,City Code,City Name,County Code,County Name,Country Code,Old City Name,Date Record Added
0,U,ALABAMA,1,10,ABBEVILLE,167,HENRY,840.0,NaN,NaT
1,U,ALABAMA,1,50,ALBERTVILLE,195,MARSHALL,840.0,NaN,NaT
2,U,ALABAMA,1,60,ALEXANDER CITY,1123,TALLAPOOSA,840.0,NaN,NaT
3,U,ALABAMA,1,70,ALICEVILLE,1107,PICKENS,840.0,NaN,NaT
4,U,ALABAMA,1,90,ANDALUSIA,139,COVINGTON,840.0,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...
39762,U,WYOMING,56,890,WORLAND,5643,WASHAKIE,840.0,NaN,NaT
39763,U,WYOMING,56,891,WRIGHT,565,CAMPBELL,840.0,NaN,NaT
39764,U,WYOMING,56,892,WYARNO,5633,SHERIDAN,840.0,NaN,NaT
39765,U,WYOMING,56,895,YELLOWSTONE PARK,5629,PARK,840.0,NaN,NaT
39766,U,WYOMING,56,900,YODER,5615,GOSHEN,840.0,NaN,NaT

In [18]:
ref['City Code'] = ref['County Code'].astype(str) + ref['City Code'].astype(str)
ref

,Territory,State Name,State Code,City Code,City Name,County Code,County Name,Country Code,Old City Name,Date Record Added
0,U,ALABAMA,1,16710,ABBEVILLE,167,HENRY,840.0,NaN,NaT
1,U,ALABAMA,1,19550,ALBERTVILLE,195,MARSHALL,840.0,NaN,NaT
2,U,ALABAMA,1,112360,ALEXANDER CITY,1123,TALLAPOOSA,840.0,NaN,NaT
3,U,ALABAMA,1,110770,ALICEVILLE,1107,PICKENS,840.0,NaN,NaT
4,U,ALABAMA,1,13990,ANDALUSIA,139,COVINGTON,840.0,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...
39762,U,WYOMING,56,5643890,WORLAND,5643,WASHAKIE,840.0,NaN,NaT
39763,U,WYOMING,56,565891,WRIGHT,565,CAMPBELL,840.0,NaN,NaT
39764,U,WYOMING,56,5633892,WYARNO,5633,SHERIDAN,840.0,NaN,NaT
39765,U,WYOMING,56,5629895,YELLOWSTONE PARK,5629,PARK,840.0,NaN,NaT
39766,U,WYOMING,56,5615900,YODER,5615,GOSHEN,840.0,NaN,NaT

In [19]:
mapping_dict = dict(zip(ref['State Code'], ref['State Name']))
df['STATE'] = df['STATE'].map(mapping_dict)
df

,ST_CASE,COUNTY,STATE,CITY,DAY,MONTH,YEAR,HOUR,MINUTE,HARM_EV,...,MAKE,BODY_TYP,MOD_YEAR,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER
0,10001,115,ALABAMA,1150,1,1,94,6,10,12,...,20,4,79,1X69D9T11581,0,12,6,6.0,4,1
1,10002,127,ALABAMA,1270,1,1,94,3,45,42,...,7,4,91,1B3XP28D1MN5,1,12,6,6.0,2,1
2,10003,121,ALABAMA,1210,3,1,94,17,2,12,...,20,31,91,1GCDC14K8MZ1,0,3,4,6.0,2,2
3,10004,185,ALABAMA,1850,7,1,94,5,36,42,...,21,2,86,1G3NF27LXGM4,1,4,6,6.0,2,1
4,10005,1115,ALABAMA,11152010,1,1,94,2,50,34,...,35,30,84,1N6ND01S3EC3,1,12,6,6.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,5637,WYOMING,56370,26,12,94,9,15,1,...,38,14,92,4S2CY58Z9N43,1,0,6,6.0,1,5
36250,560131,5621,WYOMING,5621100,30,10,94,4,0,1,...,12,1,90,1FACP44E4LF1,1,1,6,6.0,2,1
36251,560132,5625,WYOMING,562590,22,2,94,4,0,39,...,12,31,79,F14SRDG8155,1,12,6,3.0,3,1
36252,560134,5623,WYOMING,56230,11,1,94,17,50,12,...,48,6,85,JF2AN53B9FE4,1,3,6,6.0,2,1
36253,560135,5621,WYOMING,56210,14,7,94,16,15,12,...,12,31,92,1FTHX25M6NKA,0,12,6,6.0,1,1

In [20]:
mapping_dict = dict(zip(ref['County Code'], ref['County Name']))
df['COUNTY'] = df['COUNTY'].map(mapping_dict)
df

,ST_CASE,COUNTY,STATE,CITY,DAY,MONTH,YEAR,HOUR,MINUTE,HARM_EV,...,MAKE,BODY_TYP,MOD_YEAR,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER
0,10001,CALHOUN,ALABAMA,1150,1,1,94,6,10,12,...,20,4,79,1X69D9T11581,0,12,6,6.0,4,1
1,10002,BRADFORD,ALABAMA,1270,1,1,94,3,45,42,...,7,4,91,1B3XP28D1MN5,1,12,6,6.0,2,1
2,10003,ALACHUA,ALABAMA,1210,3,1,94,17,2,12,...,20,31,91,1GCDC14K8MZ1,0,3,4,6.0,2,2
3,10004,BARTHOLOMEW,ALABAMA,1850,7,1,94,5,36,42,...,21,2,86,1G3NF27LXGM4,1,4,6,6.0,2,1
4,10005,ST. CLAIR,ALABAMA,11152010,1,1,94,2,50,34,...,35,30,84,1N6ND01S3EC3,1,12,6,6.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,56370,26,12,94,9,15,1,...,38,14,92,4S2CY58Z9N43,1,0,6,6.0,1,5
36250,560131,LARAMIE,WYOMING,5621100,30,10,94,4,0,1,...,12,1,90,1FACP44E4LF1,1,1,6,6.0,2,1
36251,560132,NATRONA,WYOMING,562590,22,2,94,4,0,39,...,12,31,79,F14SRDG8155,1,12,6,3.0,3,1
36252,560134,LINCOLN,WYOMING,56230,11,1,94,17,50,12,...,48,6,85,JF2AN53B9FE4,1,3,6,6.0,2,1
36253,560135,LARAMIE,WYOMING,56210,14,7,94,16,15,12,...,12,31,92,1FTHX25M6NKA,0,12,6,6.0,1,1

In [21]:
mapping_dict = dict(zip(ref['City Code'], ref['City Name']))
df['CITY'] = df['CITY'].map(mapping_dict)
df

,ST_CASE,COUNTY,STATE,CITY,DAY,MONTH,YEAR,HOUR,MINUTE,HARM_EV,...,MAKE,BODY_TYP,MOD_YEAR,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER
0,10001,CALHOUN,ALABAMA,NaN,1,1,94,6,10,12,...,20,4,79,1X69D9T11581,0,12,6,6.0,4,1
1,10002,BRADFORD,ALABAMA,NaN,1,1,94,3,45,42,...,7,4,91,1B3XP28D1MN5,1,12,6,6.0,2,1
2,10003,ALACHUA,ALABAMA,NaN,3,1,94,17,2,12,...,20,31,91,1GCDC14K8MZ1,0,3,4,6.0,2,2
3,10004,BARTHOLOMEW,ALABAMA,NaN,7,1,94,5,36,42,...,21,2,86,1G3NF27LXGM4,1,4,6,6.0,2,1
4,10005,ST. CLAIR,ALABAMA,MARGARET,1,1,94,2,50,34,...,35,30,84,1N6ND01S3EC3,1,12,6,6.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,26,12,94,9,15,1,...,38,14,92,4S2CY58Z9N43,1,0,6,6.0,1,5
36250,560131,LARAMIE,WYOMING,CHEYENNE,30,10,94,4,0,1,...,12,1,90,1FACP44E4LF1,1,1,6,6.0,2,1
36251,560132,NATRONA,WYOMING,CASPER,22,2,94,4,0,39,...,12,31,79,F14SRDG8155,1,12,6,3.0,3,1
36252,560134,LINCOLN,WYOMING,NaN,11,1,94,17,50,12,...,48,6,85,JF2AN53B9FE4,1,3,6,6.0,2,1
36253,560135,LARAMIE,WYOMING,NaN,14,7,94,16,15,12,...,12,31,92,1FTHX25M6NKA,0,12,6,6.0,1,1

In [22]:
df['DATE'] = df['DAY'].astype(str) + '/' + df['MONTH'].astype(str) + '/' + df['YEAR'].astype(str)
columns_to_remove = ['DAY', 'MONTH', "YEAR"]
df = df.drop(columns=columns_to_remove)
df

,ST_CASE,COUNTY,STATE,CITY,HOUR,MINUTE,HARM_EV,FATALS,ROUTE,AGE,...,BODY_TYP,MOD_YEAR,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER,DATE
0,10001,CALHOUN,ALABAMA,NaN,6,10,12,1,3,54,...,4,79,1X69D9T11581,0,12,6,6.0,4,1,1/1/94
1,10002,BRADFORD,ALABAMA,NaN,3,45,42,1,3,50,...,4,91,1B3XP28D1MN5,1,12,6,6.0,2,1,1/1/94
2,10003,ALACHUA,ALABAMA,NaN,17,2,12,1,4,50,...,31,91,1GCDC14K8MZ1,0,3,4,6.0,2,2,3/1/94
3,10004,BARTHOLOMEW,ALABAMA,NaN,5,36,42,1,3,27,...,2,86,1G3NF27LXGM4,1,4,6,6.0,2,1,7/1/94
4,10005,ST. CLAIR,ALABAMA,MARGARET,2,50,34,1,6,30,...,30,84,1N6ND01S3EC3,1,12,6,6.0,2,1,1/1/94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,9,15,1,1,1,17,...,14,92,4S2CY58Z9N43,1,0,6,6.0,1,5,26/12/94
36250,560131,LARAMIE,WYOMING,CHEYENNE,4,0,1,1,6,32,...,1,90,1FACP44E4LF1,1,1,6,6.0,2,1,30/10/94
36251,560132,NATRONA,WYOMING,CASPER,4,0,39,1,6,60,...,31,79,F14SRDG8155,1,12,6,3.0,3,1,22/2/94
36252,560134,LINCOLN,WYOMING,NaN,17,50,12,1,2,41,...,6,85,JF2AN53B9FE4,1,3,6,6.0,2,1,11/1/94
36253,560135,LARAMIE,WYOMING,NaN,16,15,12,1,2,43,...,31,92,1FTHX25M6NKA,0,12,6,6.0,1,1,14/7/94

In [23]:
df['TIME'] = df['HOUR'].astype(str) + ':' + df['MINUTE'].astype(str)
columns_to_remove = ['MINUTE', 'HOUR']
df = df.drop(columns=columns_to_remove)
df

,ST_CASE,COUNTY,STATE,CITY,HARM_EV,FATALS,ROUTE,AGE,SEX,PER_TYP,...,MOD_YEAR,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER,DATE,TIME
0,10001,CALHOUN,ALABAMA,NaN,12,1,3,54,1,1,...,79,1X69D9T11581,0,12,6,6.0,4,1,1/1/94,6:10
1,10002,BRADFORD,ALABAMA,NaN,42,1,3,50,2,1,...,91,1B3XP28D1MN5,1,12,6,6.0,2,1,1/1/94,3:45
2,10003,ALACHUA,ALABAMA,NaN,12,1,4,50,1,1,...,91,1GCDC14K8MZ1,0,3,4,6.0,2,2,3/1/94,17:2
3,10004,BARTHOLOMEW,ALABAMA,NaN,42,1,3,27,1,1,...,86,1G3NF27LXGM4,1,4,6,6.0,2,1,7/1/94,5:36
4,10005,ST. CLAIR,ALABAMA,MARGARET,34,1,6,30,1,1,...,84,1N6ND01S3EC3,1,12,6,6.0,2,1,1/1/94,2:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,1,1,1,17,2,1,...,92,4S2CY58Z9N43,1,0,6,6.0,1,5,26/12/94,9:15
36250,560131,LARAMIE,WYOMING,CHEYENNE,1,1,6,32,1,1,...,90,1FACP44E4LF1,1,1,6,6.0,2,1,30/10/94,4:0
36251,560132,NATRONA,WYOMING,CASPER,39,1,6,60,1,1,...,79,F14SRDG8155,1,12,6,3.0,3,1,22/2/94,4:0
36252,560134,LINCOLN,WYOMING,NaN,12,1,2,41,2,1,...,85,JF2AN53B9FE4,1,3,6,6.0,2,1,11/1/94,17:50
36253,560135,LARAMIE,WYOMING,NaN,12,1,2,43,1,1,...,92,1FTHX25M6NKA,0,12,6,6.0,1,1,14/7/94,16:15

In [24]:
age_ref = pd.read_excel("AGEcode.xlsx")

# mapping_dict = dict(zip(age_ref['CODE_1975_2008'], age_ref['AGE']))
# df['AGE	'] = df['AGE'].map(mapping_dict)

# mapping_dict = dict(zip(age_ref['CODE_2009'], age_ref['AGE']))
# df['AGE'] = df['AGE'].map(mapping_dict)

# mapping_dict = dict(zip(age_ref['CODE_2010_2017'], age_ref['AGE']))
# df['AGE'] = df['AGE'].map(mapping_dict)

mapping_dict = dict(zip(age_ref['CODE_2018'], age_ref['AGE']))
df['AGE'] = df['AGE'].map(mapping_dict)

df

,ST_CASE,COUNTY,STATE,CITY,HARM_EV,FATALS,ROUTE,AGE,SEX,PER_TYP,...,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER,DATE,TIME,AGE\t
0,10001,CALHOUN,ALABAMA,NaN,12,1,3,54,1,1,...,1X69D9T11581,0,12,6,6.0,4,1,1/1/94,6:10,NaN
1,10002,BRADFORD,ALABAMA,NaN,42,1,3,50,2,1,...,1B3XP28D1MN5,1,12,6,6.0,2,1,1/1/94,3:45,NaN
2,10003,ALACHUA,ALABAMA,NaN,12,1,4,50,1,1,...,1GCDC14K8MZ1,0,3,4,6.0,2,2,3/1/94,17:2,NaN
3,10004,BARTHOLOMEW,ALABAMA,NaN,42,1,3,27,1,1,...,1G3NF27LXGM4,1,4,6,6.0,2,1,7/1/94,5:36,NaN
4,10005,ST. CLAIR,ALABAMA,MARGARET,34,1,6,30,1,1,...,1N6ND01S3EC3,1,12,6,6.0,2,1,1/1/94,2:50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,1,1,1,17,2,1,...,4S2CY58Z9N43,1,0,6,6.0,1,5,26/12/94,9:15,NaN
36250,560131,LARAMIE,WYOMING,CHEYENNE,1,1,6,32,1,1,...,1FACP44E4LF1,1,1,6,6.0,2,1,30/10/94,4:0,NaN
36251,560132,NATRONA,WYOMING,CASPER,39,1,6,60,1,1,...,F14SRDG8155,1,12,6,3.0,3,1,22/2/94,4:0,NaN
36252,560134,LINCOLN,WYOMING,NaN,12,1,2,41,2,1,...,JF2AN53B9FE4,1,3,6,6.0,2,1,11/1/94,17:50,NaN
36253,560135,LARAMIE,WYOMING,NaN,12,1,2,43,1,1,...,1FTHX25M6NKA,0,12,6,6.0,1,1,14/7/94,16:15,NaN

In [25]:
df['AGE'] = df['AGE'].astype(str) + ' years'
df

,ST_CASE,COUNTY,STATE,CITY,HARM_EV,FATALS,ROUTE,AGE,SEX,PER_TYP,...,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER,DATE,TIME,AGE\t
0,10001,CALHOUN,ALABAMA,NaN,12,1,3,54 years,1,1,...,1X69D9T11581,0,12,6,6.0,4,1,1/1/94,6:10,NaN
1,10002,BRADFORD,ALABAMA,NaN,42,1,3,50 years,2,1,...,1B3XP28D1MN5,1,12,6,6.0,2,1,1/1/94,3:45,NaN
2,10003,ALACHUA,ALABAMA,NaN,12,1,4,50 years,1,1,...,1GCDC14K8MZ1,0,3,4,6.0,2,2,3/1/94,17:2,NaN
3,10004,BARTHOLOMEW,ALABAMA,NaN,42,1,3,27 years,1,1,...,1G3NF27LXGM4,1,4,6,6.0,2,1,7/1/94,5:36,NaN
4,10005,ST. CLAIR,ALABAMA,MARGARET,34,1,6,30 years,1,1,...,1N6ND01S3EC3,1,12,6,6.0,2,1,1/1/94,2:50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,1,1,1,17 years,2,1,...,4S2CY58Z9N43,1,0,6,6.0,1,5,26/12/94,9:15,NaN
36250,560131,LARAMIE,WYOMING,CHEYENNE,1,1,6,32 years,1,1,...,1FACP44E4LF1,1,1,6,6.0,2,1,30/10/94,4:0,NaN
36251,560132,NATRONA,WYOMING,CASPER,39,1,6,60 years,1,1,...,F14SRDG8155,1,12,6,3.0,3,1,22/2/94,4:0,NaN
36252,560134,LINCOLN,WYOMING,NaN,12,1,2,41 years,2,1,...,JF2AN53B9FE4,1,3,6,6.0,2,1,11/1/94,17:50,NaN
36253,560135,LARAMIE,WYOMING,NaN,12,1,2,43 years,1,1,...,1FTHX25M6NKA,0,12,6,6.0,1,1,14/7/94,16:15,NaN

In [26]:
sex_ref = pd.read_excel("SEXcode.xlsx")

# mapping_dict = dict(zip(sex_ref['CODE_1975_2009'], sex_ref['SEX']))
# df['SEX'] = df['SEX'].map(mapping_dict)

# mapping_dict = dict(zip(sex_ref['CODE_2010_2017'], sex_ref['SEX']))
# df['SEX'] = df['SEX'].map(mapping_dict)

mapping_dict = dict(zip(sex_ref['CODE_2018'], sex_ref['SEX']))
df['SEX'] = df['SEX'].map(mapping_dict)

df

,ST_CASE,COUNTY,STATE,CITY,HARM_EV,FATALS,ROUTE,AGE,SEX,PER_TYP,...,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER,DATE,TIME,AGE\t
0,10001,CALHOUN,ALABAMA,NaN,12,1,3,54 years,Male,1,...,1X69D9T11581,0,12,6,6.0,4,1,1/1/94,6:10,NaN
1,10002,BRADFORD,ALABAMA,NaN,42,1,3,50 years,Female,1,...,1B3XP28D1MN5,1,12,6,6.0,2,1,1/1/94,3:45,NaN
2,10003,ALACHUA,ALABAMA,NaN,12,1,4,50 years,Male,1,...,1GCDC14K8MZ1,0,3,4,6.0,2,2,3/1/94,17:2,NaN
3,10004,BARTHOLOMEW,ALABAMA,NaN,42,1,3,27 years,Male,1,...,1G3NF27LXGM4,1,4,6,6.0,2,1,7/1/94,5:36,NaN
4,10005,ST. CLAIR,ALABAMA,MARGARET,34,1,6,30 years,Male,1,...,1N6ND01S3EC3,1,12,6,6.0,2,1,1/1/94,2:50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,1,1,1,17 years,Female,1,...,4S2CY58Z9N43,1,0,6,6.0,1,5,26/12/94,9:15,NaN
36250,560131,LARAMIE,WYOMING,CHEYENNE,1,1,6,32 years,Male,1,...,1FACP44E4LF1,1,1,6,6.0,2,1,30/10/94,4:0,NaN
36251,560132,NATRONA,WYOMING,CASPER,39,1,6,60 years,Male,1,...,F14SRDG8155,1,12,6,3.0,3,1,22/2/94,4:0,NaN
36252,560134,LINCOLN,WYOMING,NaN,12,1,2,41 years,Female,1,...,JF2AN53B9FE4,1,3,6,6.0,2,1,11/1/94,17:50,NaN
36253,560135,LARAMIE,WYOMING,NaN,12,1,2,43 years,Male,1,...,1FTHX25M6NKA,0,12,6,6.0,1,1,14/7/94,16:15,NaN

In [27]:
per_typ_ref = pd.read_excel("PER_TYPcode.xlsx")

# mapping_dict = dict(zip(per_typ_ref['CODE_1975_81'], per_typ_ref['PER_TYP_1975_81']))
# df['PER_TYP'] = df['PER_TYP'].map(mapping_dict)

# mapping_dict = dict(zip(per_typ_ref['CODE_1982_93'], per_typ_ref['PER_TYP_1982_93']))
# df['PER_TYP'] = df['PER_TYP'].map(mapping_dict)

# mapping_dict = dict(zip(per_typ_ref['CODE_1994_2009'], per_typ_ref['PER_TYP_1994']))
# df['PER_TYP'] = df['PER_TYP'].map(mapping_dict)

# mapping_dict = dict(zip(per_typ_ref['CODE_2010'], per_typ_ref['PER_TYP_1994']))
# df['PER_TYP'] = df['PER_TYP'].map(mapping_dict)

# mapping_dict = dict(zip(per_typ_ref['CODE_2011_19'], per_typ_ref['PER_TYP_1994']))
# df['PER_TYP'] = df['PER_TYP'].map(mapping_dict)

mapping_dict = dict(zip(per_typ_ref['CODE_2020'], per_typ_ref['PER_TYP_1994']))
df['PER_TYP'] = df['PER_TYP'].map(mapping_dict)

df["PER_TYP"]

0        Driver of a Motor Vehicle In-Transport
1        Driver of a Motor Vehicle In-Transport
2        Driver of a Motor Vehicle In-Transport
3        Driver of a Motor Vehicle In-Transport
4        Driver of a Motor Vehicle In-Transport
                          ...
36249    Driver of a Motor Vehicle In-Transport
36250    Driver of a Motor Vehicle In-Transport
36251    Driver of a Motor Vehicle In-Transport
36252    Driver of a Motor Vehicle In-Transport
36253    Driver of a Motor Vehicle In-Transport
Name: PER_TYP, Length: 36254, dtype: object

In [28]:
make_ref = pd.read_excel("MAKEcode.xlsx")

mapping_dict = dict(zip(make_ref['MAKE_CODE'], make_ref['MAKE']))
df['MAKE'] = df['MAKE'].map(mapping_dict)

df

,ST_CASE,COUNTY,STATE,CITY,HARM_EV,FATALS,ROUTE,AGE,SEX,PER_TYP,...,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER,DATE,TIME,AGE\t
0,10001,CALHOUN,ALABAMA,NaN,12,1,3,54 years,Male,Driver of a Motor Vehicle In-Transport,...,1X69D9T11581,0,12,6,6.0,4,1,1/1/94,6:10,NaN
1,10002,BRADFORD,ALABAMA,NaN,42,1,3,50 years,Female,Driver of a Motor Vehicle In-Transport,...,1B3XP28D1MN5,1,12,6,6.0,2,1,1/1/94,3:45,NaN
2,10003,ALACHUA,ALABAMA,NaN,12,1,4,50 years,Male,Driver of a Motor Vehicle In-Transport,...,1GCDC14K8MZ1,0,3,4,6.0,2,2,3/1/94,17:2,NaN
3,10004,BARTHOLOMEW,ALABAMA,NaN,42,1,3,27 years,Male,Driver of a Motor Vehicle In-Transport,...,1G3NF27LXGM4,1,4,6,6.0,2,1,7/1/94,5:36,NaN
4,10005,ST. CLAIR,ALABAMA,MARGARET,34,1,6,30 years,Male,Driver of a Motor Vehicle In-Transport,...,1N6ND01S3EC3,1,12,6,6.0,2,1,1/1/94,2:50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,1,1,1,17 years,Female,Driver of a Motor Vehicle In-Transport,...,4S2CY58Z9N43,1,0,6,6.0,1,5,26/12/94,9:15,NaN
36250,560131,LARAMIE,WYOMING,CHEYENNE,1,1,6,32 years,Male,Driver of a Motor Vehicle In-Transport,...,1FACP44E4LF1,1,1,6,6.0,2,1,30/10/94,4:0,NaN
36251,560132,NATRONA,WYOMING,CASPER,39,1,6,60 years,Male,Driver of a Motor Vehicle In-Transport,...,F14SRDG8155,1,12,6,3.0,3,1,22/2/94,4:0,NaN
36252,560134,LINCOLN,WYOMING,NaN,12,1,2,41 years,Female,Driver of a Motor Vehicle In-Transport,...,JF2AN53B9FE4,1,3,6,6.0,2,1,11/1/94,17:50,NaN
36253,560135,LARAMIE,WYOMING,NaN,12,1,2,43 years,Male,Driver of a Motor Vehicle In-Transport,...,1FTHX25M6NKA,0,12,6,6.0,1,1,14/7/94,16:15,NaN

In [29]:
body_ref = pd.read_excel("BODYcode.xlsx")

mapping_dict = dict(zip(body_ref['BODY_TYP_CODE'], body_ref['BODY_TYP']))
df['BODY_TYP'] = df['BODY_TYP'].map(mapping_dict)

df

,ST_CASE,COUNTY,STATE,CITY,HARM_EV,FATALS,ROUTE,AGE,SEX,PER_TYP,...,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER,DATE,TIME,AGE\t
0,10001,CALHOUN,ALABAMA,NaN,12,1,3,54 years,Male,Driver of a Motor Vehicle In-Transport,...,1X69D9T11581,0,12,6,6.0,4,1,1/1/94,6:10,NaN
1,10002,BRADFORD,ALABAMA,NaN,42,1,3,50 years,Female,Driver of a Motor Vehicle In-Transport,...,1B3XP28D1MN5,1,12,6,6.0,2,1,1/1/94,3:45,NaN
2,10003,ALACHUA,ALABAMA,NaN,12,1,4,50 years,Male,Driver of a Motor Vehicle In-Transport,...,1GCDC14K8MZ1,0,3,4,6.0,2,2,3/1/94,17:2,NaN
3,10004,BARTHOLOMEW,ALABAMA,NaN,42,1,3,27 years,Male,Driver of a Motor Vehicle In-Transport,...,1G3NF27LXGM4,1,4,6,6.0,2,1,7/1/94,5:36,NaN
4,10005,ST. CLAIR,ALABAMA,MARGARET,34,1,6,30 years,Male,Driver of a Motor Vehicle In-Transport,...,1N6ND01S3EC3,1,12,6,6.0,2,1,1/1/94,2:50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,1,1,1,17 years,Female,Driver of a Motor Vehicle In-Transport,...,4S2CY58Z9N43,1,0,6,6.0,1,5,26/12/94,9:15,NaN
36250,560131,LARAMIE,WYOMING,CHEYENNE,1,1,6,32 years,Male,Driver of a Motor Vehicle In-Transport,...,1FACP44E4LF1,1,1,6,6.0,2,1,30/10/94,4:0,NaN
36251,560132,NATRONA,WYOMING,CASPER,39,1,6,60 years,Male,Driver of a Motor Vehicle In-Transport,...,F14SRDG8155,1,12,6,3.0,3,1,22/2/94,4:0,NaN
36252,560134,LINCOLN,WYOMING,NaN,12,1,2,41 years,Female,Driver of a Motor Vehicle In-Transport,...,JF2AN53B9FE4,1,3,6,6.0,2,1,11/1/94,17:50,NaN
36253,560135,LARAMIE,WYOMING,NaN,12,1,2,43 years,Male,Driver of a Motor Vehicle In-Transport,...,1FTHX25M6NKA,0,12,6,6.0,1,1,14/7/94,16:15,NaN

In [30]:
df['MOD_YEAR'] = df['MOD_YEAR'].replace(9998, 'Not Reported')
df['MOD_YEAR'] = df['MOD_YEAR'].replace(9999, 'Unknown')
df

,ST_CASE,COUNTY,STATE,CITY,HARM_EV,FATALS,ROUTE,AGE,SEX,PER_TYP,...,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER,DATE,TIME,AGE\t
0,10001,CALHOUN,ALABAMA,NaN,12,1,3,54 years,Male,Driver of a Motor Vehicle In-Transport,...,1X69D9T11581,0,12,6,6.0,4,1,1/1/94,6:10,NaN
1,10002,BRADFORD,ALABAMA,NaN,42,1,3,50 years,Female,Driver of a Motor Vehicle In-Transport,...,1B3XP28D1MN5,1,12,6,6.0,2,1,1/1/94,3:45,NaN
2,10003,ALACHUA,ALABAMA,NaN,12,1,4,50 years,Male,Driver of a Motor Vehicle In-Transport,...,1GCDC14K8MZ1,0,3,4,6.0,2,2,3/1/94,17:2,NaN
3,10004,BARTHOLOMEW,ALABAMA,NaN,42,1,3,27 years,Male,Driver of a Motor Vehicle In-Transport,...,1G3NF27LXGM4,1,4,6,6.0,2,1,7/1/94,5:36,NaN
4,10005,ST. CLAIR,ALABAMA,MARGARET,34,1,6,30 years,Male,Driver of a Motor Vehicle In-Transport,...,1N6ND01S3EC3,1,12,6,6.0,2,1,1/1/94,2:50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,1,1,1,17 years,Female,Driver of a Motor Vehicle In-Transport,...,4S2CY58Z9N43,1,0,6,6.0,1,5,26/12/94,9:15,NaN
36250,560131,LARAMIE,WYOMING,CHEYENNE,1,1,6,32 years,Male,Driver of a Motor Vehicle In-Transport,...,1FACP44E4LF1,1,1,6,6.0,2,1,30/10/94,4:0,NaN
36251,560132,NATRONA,WYOMING,CASPER,39,1,6,60 years,Male,Driver of a Motor Vehicle In-Transport,...,F14SRDG8155,1,12,6,3.0,3,1,22/2/94,4:0,NaN
36252,560134,LINCOLN,WYOMING,NaN,12,1,2,41 years,Female,Driver of a Motor Vehicle In-Transport,...,JF2AN53B9FE4,1,3,6,6.0,2,1,11/1/94,17:50,NaN
36253,560135,LARAMIE,WYOMING,NaN,12,1,2,43 years,Male,Driver of a Motor Vehicle In-Transport,...,1FTHX25M6NKA,0,12,6,6.0,1,1,14/7/94,16:15,NaN

In [31]:
lighting_ref = pd.read_excel("LIGHTINGcode.xlsx")

# mapping_dict = dict(zip(lighting_ref['CODE_1975_79'], lighting_ref['LIGHTING']))
# df['LGT_COND'] = df['LGT_COND'].map(mapping_dict)

# mapping_dict = dict(zip(lighting_ref['CODE_1980_2008'], lighting_ref['LIGHTING']))
# df['LGT_COND'] = df['LGT_COND'].map(mapping_dict)

# mapping_dict = dict(zip(lighting_ref['CODE_2009'], lighting_ref['LIGHTING']))
# df['LGT_COND'] = df['LGT_COND'].map(mapping_dict)

# mapping_dict = dict(zip(lighting_ref['CODE_2010_17'], lighting_ref['LIGHTING']))
# df['LGT_COND'] = df['LGT_COND'].map(mapping_dict)

mapping_dict = dict(zip(lighting_ref['CODE_2018'], lighting_ref['LIGHTING']))
df['LGT_COND'] = df['LGT_COND'].map(mapping_dict)

df

,ST_CASE,COUNTY,STATE,CITY,HARM_EV,FATALS,ROUTE,AGE,SEX,PER_TYP,...,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER,DATE,TIME,AGE\t
0,10001,CALHOUN,ALABAMA,NaN,12,1,3,54 years,Male,Driver of a Motor Vehicle In-Transport,...,1X69D9T11581,0,12,6,6.0,Dawn,1,1/1/94,6:10,NaN
1,10002,BRADFORD,ALABAMA,NaN,42,1,3,50 years,Female,Driver of a Motor Vehicle In-Transport,...,1B3XP28D1MN5,1,12,6,6.0,Dark,1,1/1/94,3:45,NaN
2,10003,ALACHUA,ALABAMA,NaN,12,1,4,50 years,Male,Driver of a Motor Vehicle In-Transport,...,1GCDC14K8MZ1,0,3,4,6.0,Dark,2,3/1/94,17:2,NaN
3,10004,BARTHOLOMEW,ALABAMA,NaN,42,1,3,27 years,Male,Driver of a Motor Vehicle In-Transport,...,1G3NF27LXGM4,1,4,6,6.0,Dark,1,7/1/94,5:36,NaN
4,10005,ST. CLAIR,ALABAMA,MARGARET,34,1,6,30 years,Male,Driver of a Motor Vehicle In-Transport,...,1N6ND01S3EC3,1,12,6,6.0,Dark,1,1/1/94,2:50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,1,1,1,17 years,Female,Driver of a Motor Vehicle In-Transport,...,4S2CY58Z9N43,1,0,6,6.0,Daylight,5,26/12/94,9:15,NaN
36250,560131,LARAMIE,WYOMING,CHEYENNE,1,1,6,32 years,Male,Driver of a Motor Vehicle In-Transport,...,1FACP44E4LF1,1,1,6,6.0,Dark,1,30/10/94,4:0,NaN
36251,560132,NATRONA,WYOMING,CASPER,39,1,6,60 years,Male,Driver of a Motor Vehicle In-Transport,...,F14SRDG8155,1,12,6,3.0,Dark but Lighted,1,22/2/94,4:0,NaN
36252,560134,LINCOLN,WYOMING,NaN,12,1,2,41 years,Female,Driver of a Motor Vehicle In-Transport,...,JF2AN53B9FE4,1,3,6,6.0,Dark,1,11/1/94,17:50,NaN
36253,560135,LARAMIE,WYOMING,NaN,12,1,2,43 years,Male,Driver of a Motor Vehicle In-Transport,...,1FTHX25M6NKA,0,12,6,6.0,Daylight,1,14/7/94,16:15,NaN

In [32]:
weather_ref = pd.read_excel("WEATHERcode.xlsx")

# mapping_dict = dict(zip(weather_ref['CODE_1975_79'], weather_ref['WEATHER']))
# df['WEATHER'] = df['WEATHER'].map(mapping_dict)

# mapping_dict = dict(zip(weather_ref['CODE_1980_81'], weather_ref['WEATHER']))
# df['WEATHER'] = df['WEATHER'].map(mapping_dict)

# mapping_dict = dict(zip(weather_ref['CODE_1982_2006'], weather_ref['WEATHER']))
# df['WEATHER'] = df['WEATHER'].map(mapping_dict)

# mapping_dict = dict(zip(weather_ref['CODE_2007_09'], weather_ref['WEATHER']))
# df['WEATHER'] = df['WEATHER'].map(mapping_dict)

# mapping_dict = dict(zip(weather_ref['CODE_2010_12'], weather_ref['WEATHER']))
# df['WEATHER'] = df['WEATHER'].map(mapping_dict)

mapping_dict = dict(zip(weather_ref['CODE_2013'], weather_ref['WEATHER']))
df['WEATHER'] = df['WEATHER'].map(mapping_dict)

df

,ST_CASE,COUNTY,STATE,CITY,HARM_EV,FATALS,ROUTE,AGE,SEX,PER_TYP,...,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER,DATE,TIME,AGE\t
0,10001,CALHOUN,ALABAMA,NaN,12,1,3,54 years,Male,Driver of a Motor Vehicle In-Transport,...,1X69D9T11581,0,12,6,6.0,Dawn,No Adverse Atmospheric Conditions,1/1/94,6:10,NaN
1,10002,BRADFORD,ALABAMA,NaN,42,1,3,50 years,Female,Driver of a Motor Vehicle In-Transport,...,1B3XP28D1MN5,1,12,6,6.0,Dark,No Adverse Atmospheric Conditions,1/1/94,3:45,NaN
2,10003,ALACHUA,ALABAMA,NaN,12,1,4,50 years,Male,Driver of a Motor Vehicle In-Transport,...,1GCDC14K8MZ1,0,3,4,6.0,Dark,Rain (Mist),3/1/94,17:2,NaN
3,10004,BARTHOLOMEW,ALABAMA,NaN,42,1,3,27 years,Male,Driver of a Motor Vehicle In-Transport,...,1G3NF27LXGM4,1,4,6,6.0,Dark,No Adverse Atmospheric Conditions,7/1/94,5:36,NaN
4,10005,ST. CLAIR,ALABAMA,MARGARET,34,1,6,30 years,Male,Driver of a Motor Vehicle In-Transport,...,1N6ND01S3EC3,1,12,6,6.0,Dark,No Adverse Atmospheric Conditions,1/1/94,2:50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,1,1,1,17 years,Female,Driver of a Motor Vehicle In-Transport,...,4S2CY58Z9N43,1,0,6,6.0,Daylight,Fog,26/12/94,9:15,NaN
36250,560131,LARAMIE,WYOMING,CHEYENNE,1,1,6,32 years,Male,Driver of a Motor Vehicle In-Transport,...,1FACP44E4LF1,1,1,6,6.0,Dark,No Adverse Atmospheric Conditions,30/10/94,4:0,NaN
36251,560132,NATRONA,WYOMING,CASPER,39,1,6,60 years,Male,Driver of a Motor Vehicle In-Transport,...,F14SRDG8155,1,12,6,3.0,Dark but Lighted,No Adverse Atmospheric Conditions,22/2/94,4:0,NaN
36252,560134,LINCOLN,WYOMING,NaN,12,1,2,41 years,Female,Driver of a Motor Vehicle In-Transport,...,JF2AN53B9FE4,1,3,6,6.0,Dark,No Adverse Atmospheric Conditions,11/1/94,17:50,NaN
36253,560135,LARAMIE,WYOMING,NaN,12,1,2,43 years,Male,Driver of a Motor Vehicle In-Transport,...,1FTHX25M6NKA,0,12,6,6.0,Daylight,No Adverse Atmospheric Conditions,14/7/94,16:15,NaN

In [33]:
impact1_ref = pd.read_excel("IMPACT1code.xlsx")

# mapping_dict = dict(zip(impact1_ref['CODE_1975_93'], impact1_ref['IMPACT1']))
# df['IMPACT1'] = df['IMPACT1'].map(mapping_dict)

# mapping_dict = dict(zip(impact1_ref['CODE_1994_2009'], impact1_ref['IMPACT1']))
# df['IMPACT1'] = df['IMPACT1'].map(mapping_dict)

# mapping_dict = dict(zip(impact1_ref['CODE_2010_11'], impact1_ref['IMPACT1']))
# df['IMPACT1'] = df['IMPACT1'].map(mapping_dict)

# mapping_dict = dict(zip(impact1_ref['CODE_2012'], impact1_ref['IMPACT1']))
# df['IMPACT1'] = df['IMPACT1'].map(mapping_dict)

# mapping_dict = dict(zip(impact1_ref['CODE_2013_16'], impact1_ref['IMPACT1']))
# df['IMPACT1'] = df['IMPACT1'].map(mapping_dict)

mapping_dict = dict(zip(impact1_ref['CODE_2017'], impact1_ref['IMPACT1']))
df['IMPACT1'] = df['IMPACT1'].map(mapping_dict)

df

,ST_CASE,COUNTY,STATE,CITY,HARM_EV,FATALS,ROUTE,AGE,SEX,PER_TYP,...,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER,DATE,TIME,AGE\t
0,10001,CALHOUN,ALABAMA,NaN,12,1,3,54 years,Male,Driver of a Motor Vehicle In-Transport,...,1X69D9T11581,0,NaN,6,6.0,Dawn,No Adverse Atmospheric Conditions,1/1/94,6:10,NaN
1,10002,BRADFORD,ALABAMA,NaN,42,1,3,50 years,Female,Driver of a Motor Vehicle In-Transport,...,1B3XP28D1MN5,1,NaN,6,6.0,Dark,No Adverse Atmospheric Conditions,1/1/94,3:45,NaN
2,10003,ALACHUA,ALABAMA,NaN,12,1,4,50 years,Male,Driver of a Motor Vehicle In-Transport,...,1GCDC14K8MZ1,0,NaN,4,6.0,Dark,Rain (Mist),3/1/94,17:2,NaN
3,10004,BARTHOLOMEW,ALABAMA,NaN,42,1,3,27 years,Male,Driver of a Motor Vehicle In-Transport,...,1G3NF27LXGM4,1,NaN,6,6.0,Dark,No Adverse Atmospheric Conditions,7/1/94,5:36,NaN
4,10005,ST. CLAIR,ALABAMA,MARGARET,34,1,6,30 years,Male,Driver of a Motor Vehicle In-Transport,...,1N6ND01S3EC3,1,NaN,6,6.0,Dark,No Adverse Atmospheric Conditions,1/1/94,2:50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,1,1,1,17 years,Female,Driver of a Motor Vehicle In-Transport,...,4S2CY58Z9N43,1,Non-Collision,6,6.0,Daylight,Fog,26/12/94,9:15,NaN
36250,560131,LARAMIE,WYOMING,CHEYENNE,1,1,6,32 years,Male,Driver of a Motor Vehicle In-Transport,...,1FACP44E4LF1,1,NaN,6,6.0,Dark,No Adverse Atmospheric Conditions,30/10/94,4:0,NaN
36251,560132,NATRONA,WYOMING,CASPER,39,1,6,60 years,Male,Driver of a Motor Vehicle In-Transport,...,F14SRDG8155,1,NaN,6,3.0,Dark but Lighted,No Adverse Atmospheric Conditions,22/2/94,4:0,NaN
36252,560134,LINCOLN,WYOMING,NaN,12,1,2,41 years,Female,Driver of a Motor Vehicle In-Transport,...,JF2AN53B9FE4,1,NaN,6,6.0,Dark,No Adverse Atmospheric Conditions,11/1/94,17:50,NaN
36253,560135,LARAMIE,WYOMING,NaN,12,1,2,43 years,Male,Driver of a Motor Vehicle In-Transport,...,1FTHX25M6NKA,0,NaN,6,6.0,Daylight,No Adverse Atmospheric Conditions,14/7/94,16:15,NaN

In [34]:
route_ref = pd.read_excel("ROUTEcode.xlsx")

# mapping_dict = dict(zip(route_ref['CODE_1975_80'], route_ref['CL_TWAY']))
# df['CL_TWAY'] = df['CL_TWAY'].map(mapping_dict)

# mapping_dict = dict(zip(route_ref['CODE_1982_86'], route_ref['CL_TWAY']))
# df['CL_TWAY'] = df['CL_TWAY'].map(mapping_dict)

mapping_dict = dict(zip(route_ref['CODE_1987'], route_ref['ROUTE']))
df['ROUTE'] = df['ROUTE'].map(mapping_dict)

df

,ST_CASE,COUNTY,STATE,CITY,HARM_EV,FATALS,ROUTE,AGE,SEX,PER_TYP,...,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER,DATE,TIME,AGE\t
0,10001,CALHOUN,ALABAMA,NaN,12,1,State Highway,54 years,Male,Driver of a Motor Vehicle In-Transport,...,1X69D9T11581,0,NaN,6,6.0,Dawn,No Adverse Atmospheric Conditions,1/1/94,6:10,NaN
1,10002,BRADFORD,ALABAMA,NaN,42,1,State Highway,50 years,Female,Driver of a Motor Vehicle In-Transport,...,1B3XP28D1MN5,1,NaN,6,6.0,Dark,No Adverse Atmospheric Conditions,1/1/94,3:45,NaN
2,10003,ALACHUA,ALABAMA,NaN,12,1,County Road,50 years,Male,Driver of a Motor Vehicle In-Transport,...,1GCDC14K8MZ1,0,NaN,4,6.0,Dark,Rain (Mist),3/1/94,17:2,NaN
3,10004,BARTHOLOMEW,ALABAMA,NaN,42,1,State Highway,27 years,Male,Driver of a Motor Vehicle In-Transport,...,1G3NF27LXGM4,1,NaN,6,6.0,Dark,No Adverse Atmospheric Conditions,7/1/94,5:36,NaN
4,10005,ST. CLAIR,ALABAMA,MARGARET,34,1,Local Street – Municipality,30 years,Male,Driver of a Motor Vehicle In-Transport,...,1N6ND01S3EC3,1,NaN,6,6.0,Dark,No Adverse Atmospheric Conditions,1/1/94,2:50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,1,1,Interstate,17 years,Female,Driver of a Motor Vehicle In-Transport,...,4S2CY58Z9N43,1,Non-Collision,6,6.0,Daylight,Fog,26/12/94,9:15,NaN
36250,560131,LARAMIE,WYOMING,CHEYENNE,1,1,Local Street – Municipality,32 years,Male,Driver of a Motor Vehicle In-Transport,...,1FACP44E4LF1,1,NaN,6,6.0,Dark,No Adverse Atmospheric Conditions,30/10/94,4:0,NaN
36251,560132,NATRONA,WYOMING,CASPER,39,1,Local Street – Municipality,60 years,Male,Driver of a Motor Vehicle In-Transport,...,F14SRDG8155,1,NaN,6,3.0,Dark but Lighted,No Adverse Atmospheric Conditions,22/2/94,4:0,NaN
36252,560134,LINCOLN,WYOMING,NaN,12,1,U.S. Highway,41 years,Female,Driver of a Motor Vehicle In-Transport,...,JF2AN53B9FE4,1,NaN,6,6.0,Dark,No Adverse Atmospheric Conditions,11/1/94,17:50,NaN
36253,560135,LARAMIE,WYOMING,NaN,12,1,U.S. Highway,43 years,Male,Driver of a Motor Vehicle In-Transport,...,1FTHX25M6NKA,0,NaN,6,6.0,Daylight,No Adverse Atmospheric Conditions,14/7/94,16:15,NaN

In [35]:
deformed_ref = pd.read_excel("DEFORMEDcode.xlsx")

# mapping_dict = dict(zip(deformed_ref['CODE_1975_2008'], deformed_ref['DEFORMED_1975']))
# df['DEFORMED'] = df['DEFORMED'].map(mapping_dict)

# mapping_dict = dict(zip(deformed_ref['CODE_2009'], deformed_ref['DEFORMED_2009']))
# df['DEFORMED'] = df['DEFORMED'].map(mapping_dict)

# mapping_dict = dict(zip(deformed_ref['CODE_2010_2017'], deformed_ref['DEFORMED_2009']))
# df['DEFORMED'] = df['DEFORMED'].map(mapping_dict)

mapping_dict = dict(zip(deformed_ref['CODE_2018'], deformed_ref['DEFORMED_2009']))
df['DEFORMED'] = df['DEFORMED'].map(mapping_dict)

df

,ST_CASE,COUNTY,STATE,CITY,HARM_EV,FATALS,ROUTE,AGE,SEX,PER_TYP,...,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER,DATE,TIME,AGE\t
0,10001,CALHOUN,ALABAMA,NaN,12,1,State Highway,54 years,Male,Driver of a Motor Vehicle In-Transport,...,1X69D9T11581,0,NaN,Disabling (Severe),6.0,Dawn,No Adverse Atmospheric Conditions,1/1/94,6:10,NaN
1,10002,BRADFORD,ALABAMA,NaN,42,1,State Highway,50 years,Female,Driver of a Motor Vehicle In-Transport,...,1B3XP28D1MN5,1,NaN,Disabling (Severe),6.0,Dark,No Adverse Atmospheric Conditions,1/1/94,3:45,NaN
2,10003,ALACHUA,ALABAMA,NaN,12,1,County Road,50 years,Male,Driver of a Motor Vehicle In-Transport,...,1GCDC14K8MZ1,0,NaN,Functional (Moderate),6.0,Dark,Rain (Mist),3/1/94,17:2,NaN
3,10004,BARTHOLOMEW,ALABAMA,NaN,42,1,State Highway,27 years,Male,Driver of a Motor Vehicle In-Transport,...,1G3NF27LXGM4,1,NaN,Disabling (Severe),6.0,Dark,No Adverse Atmospheric Conditions,7/1/94,5:36,NaN
4,10005,ST. CLAIR,ALABAMA,MARGARET,34,1,Local Street – Municipality,30 years,Male,Driver of a Motor Vehicle In-Transport,...,1N6ND01S3EC3,1,NaN,Disabling (Severe),6.0,Dark,No Adverse Atmospheric Conditions,1/1/94,2:50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,1,1,Interstate,17 years,Female,Driver of a Motor Vehicle In-Transport,...,4S2CY58Z9N43,1,Non-Collision,Disabling (Severe),6.0,Daylight,Fog,26/12/94,9:15,NaN
36250,560131,LARAMIE,WYOMING,CHEYENNE,1,1,Local Street – Municipality,32 years,Male,Driver of a Motor Vehicle In-Transport,...,1FACP44E4LF1,1,NaN,Disabling (Severe),6.0,Dark,No Adverse Atmospheric Conditions,30/10/94,4:0,NaN
36251,560132,NATRONA,WYOMING,CASPER,39,1,Local Street – Municipality,60 years,Male,Driver of a Motor Vehicle In-Transport,...,F14SRDG8155,1,NaN,Disabling (Severe),3.0,Dark but Lighted,No Adverse Atmospheric Conditions,22/2/94,4:0,NaN
36252,560134,LINCOLN,WYOMING,NaN,12,1,U.S. Highway,41 years,Female,Driver of a Motor Vehicle In-Transport,...,JF2AN53B9FE4,1,NaN,Disabling (Severe),6.0,Dark,No Adverse Atmospheric Conditions,11/1/94,17:50,NaN
36253,560135,LARAMIE,WYOMING,NaN,12,1,U.S. Highway,43 years,Male,Driver of a Motor Vehicle In-Transport,...,1FTHX25M6NKA,0,NaN,Disabling (Severe),6.0,Daylight,No Adverse Atmospheric Conditions,14/7/94,16:15,NaN

In [36]:
harm_ref = pd.read_excel("HARM_EVcode.xlsx")

# mapping_dict = dict(zip(harm_ref['CODE_1975_1981'], harm_ref['HARM_EV_1975']))
# df['HARM_EV'] = df['HARM_EV'].map(mapping_dict)

# mapping_dict = dict(zip(harm_ref['CODE_1982_2003'], harm_ref['HARM_EV']))
# df['HARM_EV'] = df['HARM_EV'].map(mapping_dict)

# mapping_dict = dict(zip(harm_ref['CODE_2004_2009'], harm_ref['HARM_EV']))
# df['HARM_EV'] = df['HARM_EV'].map(mapping_dict)

# mapping_dict = dict(zip(harm_ref['CODE_2010_2015'], harm_ref['HARM_EV']))
# df['HARM_EV'] = df['HARM_EV'].map(mapping_dict)

# mapping_dict = dict(zip(harm_ref['CODE_2016'], harm_ref['HARM_EV']))
# df['HARM_EV'] = df['HARM_EV'].map(mapping_dict)

# mapping_dict = dict(zip(harm_ref['CODE_2017'], harm_ref['HARM_EV']))
# df['HARM_EV'] = df['HARM_EV'].map(mapping_dict)

mapping_dict = dict(zip(harm_ref['CODE_2018'], harm_ref['HARM_EV']))
df['HARM_EV'] = df['HARM_EV'].map(mapping_dict)

df

,ST_CASE,COUNTY,STATE,CITY,HARM_EV,FATALS,ROUTE,AGE,SEX,PER_TYP,...,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER,DATE,TIME,AGE\t
0,10001,CALHOUN,ALABAMA,NaN,Motor Vehicle In-Transport on Same Roadway,1,State Highway,54 years,Male,Driver of a Motor Vehicle In-Transport,...,1X69D9T11581,0,NaN,Disabling (Severe),6.0,Dawn,No Adverse Atmospheric Conditions,1/1/94,6:10,NaN
1,10002,BRADFORD,ALABAMA,NaN,Tree (Standing Only),1,State Highway,50 years,Female,Driver of a Motor Vehicle In-Transport,...,1B3XP28D1MN5,1,NaN,Disabling (Severe),6.0,Dark,No Adverse Atmospheric Conditions,1/1/94,3:45,NaN
2,10003,ALACHUA,ALABAMA,NaN,Motor Vehicle In-Transport on Same Roadway,1,County Road,50 years,Male,Driver of a Motor Vehicle In-Transport,...,1GCDC14K8MZ1,0,NaN,Functional (Moderate),6.0,Dark,Rain (Mist),3/1/94,17:2,NaN
3,10004,BARTHOLOMEW,ALABAMA,NaN,Tree (Standing Only),1,State Highway,27 years,Male,Driver of a Motor Vehicle In-Transport,...,1G3NF27LXGM4,1,NaN,Disabling (Severe),6.0,Dark,No Adverse Atmospheric Conditions,7/1/94,5:36,NaN
4,10005,ST. CLAIR,ALABAMA,MARGARET,Ditch,1,Local Street – Municipality,30 years,Male,Driver of a Motor Vehicle In-Transport,...,1N6ND01S3EC3,1,NaN,Disabling (Severe),6.0,Dark,No Adverse Atmospheric Conditions,1/1/94,2:50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,Rollover/Overturn,1,Interstate,17 years,Female,Driver of a Motor Vehicle In-Transport,...,4S2CY58Z9N43,1,Non-Collision,Disabling (Severe),6.0,Daylight,Fog,26/12/94,9:15,NaN
36250,560131,LARAMIE,WYOMING,CHEYENNE,Rollover/Overturn,1,Local Street – Municipality,32 years,Male,Driver of a Motor Vehicle In-Transport,...,1FACP44E4LF1,1,NaN,Disabling (Severe),6.0,Dark,No Adverse Atmospheric Conditions,30/10/94,4:0,NaN
36251,560132,NATRONA,WYOMING,CASPER,wall,1,Local Street – Municipality,60 years,Male,Driver of a Motor Vehicle In-Transport,...,F14SRDG8155,1,NaN,Disabling (Severe),3.0,Dark but Lighted,No Adverse Atmospheric Conditions,22/2/94,4:0,NaN
36252,560134,LINCOLN,WYOMING,NaN,Motor Vehicle In-Transport on Same Roadway,1,U.S. Highway,41 years,Female,Driver of a Motor Vehicle In-Transport,...,JF2AN53B9FE4,1,NaN,Disabling (Severe),6.0,Dark,No Adverse Atmospheric Conditions,11/1/94,17:50,NaN
36253,560135,LARAMIE,WYOMING,NaN,Motor Vehicle In-Transport on Same Roadway,1,U.S. Highway,43 years,Male,Driver of a Motor Vehicle In-Transport,...,1FTHX25M6NKA,0,NaN,Disabling (Severe),6.0,Daylight,No Adverse Atmospheric Conditions,14/7/94,16:15,NaN

In [37]:
l_status_ref = pd.read_excel("L_STATUScode.xlsx")

# mapping_dict = dict(zip(l_status_ref['CODE_1975_1981'], l_status_ref['L_STATUS_1975']))
# df['L_STATUS'] = df['L_STATUS'].map(mapping_dict)

# mapping_dict = dict(zip(l_status_ref['CODE_1982_1986'], l_status_ref['L_STATUS_1982']))
# df['L_STATUS'] = df['L_STATUS'].map(mapping_dict)

# mapping_dict = dict(zip(l_status_ref['CODE_1987_1992'], l_status_ref['L_STATUS_1982']))
# df['L_STATUS'] = df['L_STATUS'].map(mapping_dict)

# mapping_dict = dict(zip(l_status_ref['CODE_1993_2003'], l_status_ref['L_STATUS_1982']))
# df['L_STATUS'] = df['L_STATUS'].map(mapping_dict)

# mapping_dict = dict(zip(l_status_ref['CODE_2004_2009'], l_status_ref['L_STATUS_1982']))
# df['L_STATUS'] = df['L_STATUS'].map(mapping_dict)

# mapping_dict = dict(zip(l_status_ref['CODE_2010'], l_status_ref['L_STATUS_1982']))
# df['L_STATUS'] = df['L_STATUS'].map(mapping_dict)

mapping_dict = dict(zip(l_status_ref['CODE_2011'], l_status_ref['L_STATUS_1982']))
df['L_STATUS'] = df['L_STATUS'].map(mapping_dict)

df

,ST_CASE,COUNTY,STATE,CITY,HARM_EV,FATALS,ROUTE,AGE,SEX,PER_TYP,...,VIN,DEATHS,IMPACT1,DEFORMED,L_STATUS,LGT_COND,WEATHER,DATE,TIME,AGE\t
0,10001,CALHOUN,ALABAMA,NaN,Motor Vehicle In-Transport on Same Roadway,1,State Highway,54 years,Male,Driver of a Motor Vehicle In-Transport,...,1X69D9T11581,0,NaN,Disabling (Severe),Valid,Dawn,No Adverse Atmospheric Conditions,1/1/94,6:10,NaN
1,10002,BRADFORD,ALABAMA,NaN,Tree (Standing Only),1,State Highway,50 years,Female,Driver of a Motor Vehicle In-Transport,...,1B3XP28D1MN5,1,NaN,Disabling (Severe),Valid,Dark,No Adverse Atmospheric Conditions,1/1/94,3:45,NaN
2,10003,ALACHUA,ALABAMA,NaN,Motor Vehicle In-Transport on Same Roadway,1,County Road,50 years,Male,Driver of a Motor Vehicle In-Transport,...,1GCDC14K8MZ1,0,NaN,Functional (Moderate),Valid,Dark,Rain (Mist),3/1/94,17:2,NaN
3,10004,BARTHOLOMEW,ALABAMA,NaN,Tree (Standing Only),1,State Highway,27 years,Male,Driver of a Motor Vehicle In-Transport,...,1G3NF27LXGM4,1,NaN,Disabling (Severe),Valid,Dark,No Adverse Atmospheric Conditions,7/1/94,5:36,NaN
4,10005,ST. CLAIR,ALABAMA,MARGARET,Ditch,1,Local Street – Municipality,30 years,Male,Driver of a Motor Vehicle In-Transport,...,1N6ND01S3EC3,1,NaN,Disabling (Severe),Valid,Dark,No Adverse Atmospheric Conditions,1/1/94,2:50,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36249,560130,SWEETWATER,WYOMING,NaN,Rollover/Overturn,1,Interstate,17 years,Female,Driver of a Motor Vehicle In-Transport,...,4S2CY58Z9N43,1,Non-Collision,Disabling (Severe),Valid,Daylight,Fog,26/12/94,9:15,NaN
36250,560131,LARAMIE,WYOMING,CHEYENNE,Rollover/Overturn,1,Local Street – Municipality,32 years,Male,Driver of a Motor Vehicle In-Transport,...,1FACP44E4LF1,1,NaN,Disabling (Severe),Valid,Dark,No Adverse Atmospheric Conditions,30/10/94,4:0,NaN
36251,560132,NATRONA,WYOMING,CASPER,wall,1,Local Street – Municipality,60 years,Male,Driver of a Motor Vehicle In-Transport,...,F14SRDG8155,1,NaN,Disabling (Severe),Expired,Dark but Lighted,No Adverse Atmospheric Conditions,22/2/94,4:0,NaN
36252,560134,LINCOLN,WYOMING,NaN,Motor Vehicle In-Transport on Same Roadway,1,U.S. Highway,41 years,Female,Driver of a Motor Vehicle In-Transport,...,JF2AN53B9FE4,1,NaN,Disabling (Severe),Valid,Dark,No Adverse Atmospheric Conditions,11/1/94,17:50,NaN
36253,560135,LARAMIE,WYOMING,NaN,Motor Vehicle In-Transport on Same Roadway,1,U.S. Highway,43 years,Male,Driver of a Motor Vehicle In-Transport,...,1FTHX25M6NKA,0,NaN,Disabling (Severe),Valid,Daylight,No Adverse Atmospheric Conditions,14/7/94,16:15,NaN

In [38]:
df = df.fillna('Unknown')

In [39]:
df.to_excel('2020final.xlsx', index=False)