In [12]:
import pandas as pd
import sklearn

df = pd.read_excel("Pre-Pred.xlsx")
df

,Index,Date,Author,Verified,Helpful,Title,Rating,Variation,Reviewed Location,Flavor Name,Size(Ounce)
0,1,"July 13, 2024",NadineNadine,1,0,Too tasty,5,B001J9SUHG,United States,0,3.3
1,2,"July 13, 2024",Customer,1,0,Not good!,1,B001J9SUHG,United States,0,3.3
2,3,"July 12, 2024",Addie,1,0,Amazing quality,5,B001J9SUHG,United States,0,3.3
3,4,"July 12, 2024",Heather L.,1,0,My Puppy Loves It!,5,B08BQ2JK7M,United States,1,3.3
4,5,"July 6, 2024",Ann,1,0,Note description inaccuracy before buying,3,B001J9SUHG,United States,0,3.3
...,...,...,...,...,...,...,...,...,...,...,...
655,656,"January 27, 2012",Heather Charlton,1,0,Not so long lasting,4,B001J9SUHG,United States,0,3.3
656,657,"January 13, 2012",lleweck,1,1,me,3,B001J9SUHG,United States,0,3.3
657,658,"December 24, 2011",DogLover,1,0,Probably wouldn't purchase again,3,B001J9SUHG,United States,0,3.3
658,659,"November 21, 2011",Frankie,1,1,Great all natural long lasting entertainment!,5,B001J9SUHG,United States,0,3.3
659,660,"February 11, 2011",tara,1,1,Wish this had lasted longer,2,B001J9SUHG,United States,0,3.3

In [13]:
# x = df[["Verified", "Helpful", "Flavor Name"]]
x = df[["Verified", "Flavor Name"]]
y = df["Rating"]
x

     Verified  Flavor Name
0           1            0
1           1            0
2           1            0
3           1            1
4           1            0
..        ...          ...
655         1            0
656         1            0
657         1            0
658         1            0
659         1            0

[660 rows x 2 columns]

In [9]:
# x.loc[x['Verified'] == 'No', 'Verified'] = 0
# x.loc[x['Verified'] == 'yes', 'Verified'] = 1
# x.loc[x['Helpful'] == 'yes', 'Helpful'] = 1
# x.loc[x['Helpful'] == 'No', 'Helpful'] = 0
# x.loc[x['Flavor Name'] == 'Cheese', 'Flavor Name'] = 0
# x.loc[x['Flavor Name'] == 'Bacon', 'Flavor Name'] = 1
# x.loc[x['Flavor Name'] == 'Chicken', 'Flavor Name'] = 2
# x.loc[x['Flavor Name'] == 'Peanut Butter', 'Flavor Name'] = 3


x

0      0
1      0
2      0
3      1
4      0
      ..
655    0
656    0
657    0
658    0
659    0
Name: Flavor Name, Length: 660, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.5)

In [17]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()

# from sklearn.neighbors import KNeighborsClassifier
# clf = KNeighborsClassifier()

clf.fit(x_train, y_train)
pred = clf.predict(x_test)

In [18]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test, pred))

0.24242424242424243